* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(235, 18%, 26%);
  font-family: "Roboto";
}
.container {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  padding: 2rem;
  gap: 2rem;
  background-color: hsl(0, 0%, 100%);
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 26rem;
}
h1 {
  color: hsl(234, 29%, 20%);
  font-weight: 700;
  font-size: 4rem;
  width: 100%;
  text-align: center;
}
p {
  color: hsl(235, 18%, 26%);
  font-size: 1rem;
}
ul li {
  color: hsl(235, 18%, 26%);
  font-size: 1rem;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  list-style-image: url("assets/images/icon-list.svg");
  margin-right: 2rem;
}
span {
  font-size: 1rem;
  color: hsl(235, 18%, 26%);
  font-weight: 500;
  text-align: left;
  margin-right: auto;
  font-weight: 700;
}
form {
  width: 100%;
}
input {
  border: 1px solid hsl(0, 0%, 58%);
  border-radius: 5px;
  width: 100%;
  padding: 1rem;
}
button {
  border: 1px solid hsl(0, 0%, 58%);
  border-radius: 5px;
  width: 100%;
  padding: 1rem;
  background-color: hsl(234, 29%, 20%);
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 1rem;
}

@media (max-width: 800px) {
  img {
    src: url(assets/images/illustration-sign-up-mobile.svg);
  }
  .container {
    padding: 0;
    flex-direction: column-reverse;
    width: 100%;
  }
  .text {
    h1 {
      text-align: center;
      font-size: 3rem;
    }
    padding: 2rem;
    width: 100%;
    ul {
      margin-left: 2rem;
    }
  }
}
