* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Figtree";
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: auto;
  background-color: hsl(0, 0%, 8%);
}
.container {
  border-radius: 20px;
  width: fit-content;
  background-color: hsl(0, 0%, 12%);
  padding: 30px;
  text-align: center;
  display: grid;
  grid-template-rows: auto;
  row-gap: 20px;
}
img {
  margin: auto;
  display: block;
  border-radius: 50%;
  width: 130px;
}
.social-media {
  background-color: hsl(0, 0%, 20%);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}
.social-media:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 12%);
  font-weight: 700;
  cursor: pointer;
}
h1 {
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}
p {
  font-size: 16px;
  color: hsl(0, 0%, 100%);
}
.social-media {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}
h3 {
  font-weight: 600;
  color: hsl(75, 94%, 57%);
}
