* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: hsl(26, 40%, 92%);
}
.container {
  display: flex;
  width: 650px;
  height: 500px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  overflow: hidden;
}
.img-fluid {
  width: auto;
  height: 100%;
  display: block;
}
.info {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 25px;
  width: 100%;
  height: 100%;
  p {
    color: hsl(228, 12%, 48%);
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 500;
  }
  h1 {
    color: hsl(212, 21%, 14%);
    font-family: "Fraunces";
    font-weight: 700;
  }
  .price {
    font-size: 35px;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
    font-family: "Fraunces";
  }
  .old-price {
    font-size: 15px;
    font-family: "Montserrat";
    margin-left: 10px;

    color: hsl(228, 12%, 48%);
  }
  button {
    font-family: "Montserrat";
    font-weight: 700;
    width: 100%;
    padding: 10px;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    border: 1px solid transparent;
    cursor: pointer;
    img {
      margin-right: 10px;
    }
  }
  button:hover {
    background-color: hsl(156, 42%, 18%);
  }
}
@media (max-width: 1440px) {
  .container {
    height: auto;
    flex-direction: column;
  }
  .img-fluid {
    width: 100%;
  }
}
