* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Figtree", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(47, 89%, 63%);
  padding: 20px;
}
.card {
  width: 400px;
  background-color: hsl(0, 0%, 100%);
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  padding: 20px;
  row-gap: 20px;
  border: 1px solid black;
  border-radius: 20px;
  border-bottom-width: 10px;
  border-right-width: 10px;
}
.article {
  width: 100%;
  border-radius: 10px;
}
.learning {
  padding: 10px;
  border-radius: 10px;
  width: fit-content;

  font-weight: 800;
  background-color: hsl(47, 88%, 63%);
}
.title {
  font-size: 25px;
  font-weight: 800;
}
p {
  font-size: 16px;
  color: hsl(0, 0%, 42%);
}
.footer {
  display: flex;
  align-items: center;
  gap: 10px;
}
