* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(213, 44%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Manrope";
  font-size: 13px;
}
.container {
  width: 800px;
  height: 300px;
  display: flex;
  overflow: hidden;
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
}
.drawers {
  width: auto;
  height: auto;
  display: block;
}
.info {
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h2,
.name {
  color: hsl(217, 19%, 35%);
  font-weight: 700;
}
p,
span {
  color: hsl(214, 17%, 51%);
  font-weight: 500;
  line-height: 1.7;
}
.footer {
  width: auto;
  height: auto;
  display: flex;
  justify-content: flex-start;
  column-gap: 20px;
  align-items: center;
  padding: 3px;
}
.logo {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
#share {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: transparent;
  margin-left: auto;
  cursor: pointer;
}
@media (max-width: 1440px) {
  .container {
    height: auto;
    flex-direction: column;
    margin: 20px;
    height: fit-content;
  }
  .info {
    padding: 20px;
    row-gap: 15px;
  }
}
