* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(213, 44%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Manrope";
  font-size: 13px;
}
.container {
  width: 800px;
  height: 300px;
  display: flex;
  overflow: hidden;
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
}
.drawers {
  width: auto;
  height: auto;
  display: block;
}
.info {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h2,
.name {
  color: hsl(217, 19%, 35%);
  font-weight: 700;
}
p,
span {
  color: hsl(214, 17%, 51%);
  font-weight: 500;
  line-height: 1.7;
}
.footer {
  width: auto;
  height: auto;
  display: flex;
  justify-content: flex-start;
  column-gap: 20px;
  align-items: center;
  padding: 3px;
  position: relative;
}
.logo {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
#share {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: transparent;
  margin-left: auto;
  cursor: pointer;
  background-color: hsl(210, 46%, 95%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

#share.active {
  background-color: hsl(214, 17%, 51%);
}

#share.active img {
  filter: brightness(0) invert(1);
}

.share-icons {
  display: none;
  position: absolute;
  background-color: hsl(217, 19%, 35%);
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  gap: 15px;
  color: white;
}

.share-icons.active {
  display: flex;
}

.share-text {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 4px;
  color: hsl(214, 17%, 51%);
  text-transform: uppercase;
}

.share-icon {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.share-icon:hover {
  color: hsl(214, 17%, 51%);
}
.share-icons {
  display: none; /* Inicialmente oculto */
}
@media (max-width: 800px) {
  .container {
    margin: 15px;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
  .info {
    gap: 20px;
  }
}
